/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

/* GNOME Shell Gaia, designed by Sean Wilson http://half-left.deviantart.com/ */

stage {
    font-family: cantarell, sans-serif, ubuntu;
}

.shell-link {
     color: #444;
    text-decoration: underline;
}

.shell-link:hover {
    color: #222;
}

.label-shadow {
    color: rgba(0,0,0,0.5);
}

/* small */
.app-well-menu,
.contact-details-status,
.run-dialog-label,
.run-dialog-error-label {
    font-size: 9pt;
}

/* small bold */
.dash-label,
.window-caption,
.switcher-list, 
.source-title,
.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    font-size: 9pt;
    font-weight: bold;
}

StScrollBar
{
  padding: 2px;
}

StScrollView StScrollBar
{
  min-width: 12px;
  min-height: 16px;
}

StScrollView.vfade
{
    -st-vfade-offset: 68px;
}

StScrollView.hfade
{
    -st-hfade-offset: 68px;
}

StScrollBar StBin#trough {
    border: 1px solid rgba(77,77,77,0.3);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(222,222,222,0.8);
    background-gradient-end: rgba(255,255,255,0.8);
    border-radius: 6px 0px 0px 6px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    padding: 2px;
}

StScrollBar StButton#vhandle
{
    border: 1px solid rgba(149,185,101,0.4);
    border-radius: 8px 0px 0px 8px;
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255,255,255,0.9);
    background-gradient-end: rgba(200,200,200,0.9);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    padding: 2px;
}

StScrollBar StButton#hhandle
{
    border: 1px solid rgba(149,185,101,0.4);
    border-radius: 8px 0px 0px 8px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.9);
    background-gradient-end: rgba(200,200,200,0.9);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    border: 1px solid rgba(149,185,101,0.4);
    border-radius: 8px 0px 0px 8px;
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255,255,255,1.0);
    background-gradient-end: rgba(160,160,160,1.0);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}

/* PopupMenu */

.popup-menu-boxpointer {
    -arrow-border-radius: 12px 0px 12px 12px;
    -arrow-background-color: rgba(244,244,244,1.0);
    -arrow-border-width: 8px;
    -arrow-border-color: rgba(244,244,244,0.6);
    -arrow-base: 30px;
    -arrow-rise: 15px;
}

.popup-menu {
    color: #666;
    text-shadow: rgba(194,230,146,0.8) 0px 1px 2px;
    font-size: 10pt;
    min-width: 200px;
}

.popup-submenu-menu-item:open {
    background-color: #fff;
    box-shadow: inset 0px 0px 3px 2px rgba(11,11,11,0.3);
}

.popup-sub-menu {
    background-color: #f1f1f1;
    box-shadow: inset 0px 0px 3px 2px rgba(11,11,11,0.3);
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: #4c4c4c;
    border-width: 0px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 1em 0em;
}

.popup-menu-item {
    padding: .4em 1.75em;
    spacing: 1em;
}

.popup-menu-item:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,0.5);
    background-gradient-end: rgba(149,185,101,0.5);
    border-radius: 12px 0px 12px 12px;
    color: #444;
    text-shadow: rgba(255,255,255,0.6) 0px 1px 1px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    padding-top: 5px;
    padding-bottom: 5px;
}

.popup-image-menu-item {
}

.popup-separator-menu-item {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(79,139,8,1.0);
    background-gradient-end: rgba(171,249,78,1.0);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    height: 0.1em;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    height: 0.8em;
    min-width: 15em;
    background-color: rgba(230,230,230,0.8);
    border: 1px solid rgba(79,139,8,0.4);
    border-radius: 8px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    -slider-active-background-color: rgba(194,230,146,1.0);
    -slider-active-border-color: rgba(79,139,8,0.5);
    -slider-border-width: 5px;
    -slider-handle-radius: 0.7em;
    color: #555;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    color: #999;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 65px;
    height: 22px;
}

.toggle-switch-us {
    background-image: url("toggle-off-us.svg");
}
.toggle-switch-us:checked {
    background-image: url("toggle-on-us.svg");
}

.toggle-switch-intl {
    background-image: url("toggle-off-intl.svg");
}
.toggle-switch-intl:checked {
    background-image: url("toggle-on-intl.svg");
}

.nm-menu-item-icons {
    spacing: .5em;
}

/* Buttons */

.dash-search-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #444;
}

.dash-search-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(240,230,186,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.dash-search-button:selected,
.dash-search-button:focus,
.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(240,230,186,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.dash-search-button:active,
.dash-search-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(149,185,101,1.0);
    background-gradient-end: rgba(240,230,186,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
}

/* Panel */

#panel {
    border: 4px solid rgba(255,255,255,0.6);
    border-top: 0px;
    background-image: url("panel-highlight.svg");
    background-position: 0 0;
    border-radius: 0px 0px 12px 12px;
    color: rgba(255,255,255,0.8);
    background-color: rgba(33,33,33,0.8);
    height: 1.66em;
    box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.4);
}

#panelLeft, #panelCenter, #panelRight {
    spacing: 4px;
    font-weight: bold;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

#appMenu {
    spacing: 4px;
}

.panel-menu {
    -boxpointer-gap: 8px
}

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
    color: #777;
}

.status-chooser-user-icon {
    border: 2px solid rgba(79,139,8,0.2);
    border-radius: 24px 0 24px 24px;
    width: 48pt;
    height: 48pt;
}

.status-chooser-user-icon:hover {
    border: 2px solid rgba(79,139,8,0.4);
    border-radius: 24px 0 24px 24px;
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1.3em;
    min-width: 120pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
    color: #777;
}

.status-chooser-combo.popup-combo-menu {
    background-color: rgba(255,255,255,1.0);
    padding: .4em .2em;
    border-radius: 8px;
    border: 3px solid rgba(79,139,8,0.2);
    box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.1);
    color: #777;
    font-size: 9.5pt;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
    color: #777;
}

.app-menu-icon {
    width: 24px;
    height: 24px;
}

.panel-button {
     -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #f1f1f1;
    transition-duration: 100;
}

.panel-button:hover {
    color: #fff;
}

.panel-button:active,
.panel-button:checked,
.panel-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 0px 0px 8px 8px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
}

#statusTray > .panel-button:active,
#statusTray > .panel-button:checked,
#statusTray > .panel-button:focus {
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
}


#panelStatus {
    transition-duration: 0;
}

#panelStatusMenu {
    spacing: 4px;
}

#legacyTray {
    spacing: 14px;
    padding-left: 14px;
}

#legacyTray:rtl {
    padding-left: 0px;
    padding-right: 14px;
}

#legacyTray:compact {
    spacing: 8px;
}

.system-status-icon {
    icon-size: 1.14em;
}

/* Overview */

#overview {
    spacing: 12px;
    background-color: rgba(178,223,229,0.6);
}

.window-caption {
    color: white;
    spacing: 25px;
}

.workspace-controls {
    visible-width: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    background-color: rgba(255,255,255,0.9);
    border: 6px solid rgba(255,255,255,0.4);
    box-shadow: inset -1px 0px 1px 2px rgba(194,230,146,0.6);
    border-right: 0px;
    border-radius: 12px 0px 0px 12px;
    padding: 8px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
}

.workspace-thumbnails {
    spacing: 7px;
}

.workspace-thumbnail-indicator {
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(178,223,229,0.6);
    background-gradient-end: rgba(229,245,245,0.6);
    box-shadow: inset 0px 0px 1px 3px rgba(255,255,255,0.6);
    border: 3px solid #1a899c;
}

.window-caption {
    border: 4px solid rgba(255,255,255,0.6);
    background-color: rgba(44,44,44,0.9);
    border-radius: 12px 0px 12px 12px;
    color: #fff;
    font-size: 10pt;
    padding: 2px 8px;
    -shell-caption-spacing: 4px;
}

.window-close {
    background-image: url("close-window.svg");
    height: 34px;
    width: 34px;
    -shell-close-overlap: 20px;
    -st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

/* Dash */

#dash {
    color: #333;
    font-size: 10pt;
    padding: 4px 0px;
    background-color: rgba(255,255,255,0.9);
    border: 6px solid rgba(255,255,255,0.4);
    border-left: 0px;
    border-radius: 0px 12px 12px 0px;
    box-shadow: inset -1px 0px 1px 1px rgba(194,230,146,0.6);
}

#dash:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 9px 0px 0px 9px;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.dash-placeholder {
    background-image: url("dash-placeholder.svg");
    height: 27px;
    width: 48px;
}

#viewSelector {
    spacing: 1em;
    font-size: 10pt;
}

#viewSelectorTabBar {
    padding: 1em;
}

#searchArea {
    padding: 0px 24px;
}

#searchEntry {
    padding: 4px 12px;
    border-radius: 12px;
    color: #1a899c;
    border: 3px solid rgba(255,255,255,0.5);
    background-color: #fff;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.1);
}

#searchEntry:focus,
#searchEntry:hover {
    padding: 4px 12px;
    border-radius: 12px;
    color: #1a899c;
    border: 3px solid rgba(194,230,146,0.6);
    background-color: #fff;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
}

#searchEntry:hover {
    transition-duration: 300;
}

#searchEntry:focus {
    padding: 4px 12px;
    border-radius: 12px;
    color: #1a899c;
    border: 3px solid rgba(194,230,146,0.6);
    background-color: #fff;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    transition-duration: 300;
}

.search-entry-icon {
    icon-size: 1.4em;
    color: #1a899c;
}

.view-tab-title {
    color: #cdcdcd;
    font-weight: bold;
    padding: 0px 0.75em;
    height: 1.5em;
}

.view-tab-title:hover {
    color: #fff;
}

.view-tab-title:selected {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 10px 0px 10px 10px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
}

#viewSelectorTabBar {
    padding: 6px;
    border: 3px solid rgba(255,255,255,0.6);
    border-radius: 12px 0px 12px 12px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(44,44,44,0.8);
    background-gradient-end: rgba(44,44,44,0.8);
    color: rgba(181,232,246,0.7);
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.6);
}

#searchResults {
    padding: 20px 10px 10px 10px;
    spacing: 18px;
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 36px;
}

#searchResultsContent:rtl {
    padding-right: 0px;
    padding-left: 20px;
}

.search-statustext,
.search-section-header {
    border: 2px solid rgba(194,230,146,0.6);
    border-radius: 12px 12px 0px 0px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(44,44,44,0.8);
    background-gradient-end: rgba(44,44,44,0.8);
    color: rgba(181,232,246,0.7);
    padding: 4px 12px;
    spacing: 4px;
    color: #fff;
    font-size: 9pt;
    font-weight: bold;
    
}

.search-section-results {
    color: #333;
    padding: 4px 0px;
    background-color: rgba(255,255,255,0.9);
    border: 6px solid rgba(255,255,255,0.4);
    border-left: 0px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: inset 0px 0px 1px 2px rgba(194,230,146,0.6);
    padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

.dash-search-button {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 14px 0px 14px 14px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    height: 32px;
    width: 150px;
}

.dash-search-button:selected,
.dash-search-button:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(240,230,186,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 14px 0px 14px 14px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.dash-search-button-label {
    color: #444;
    font-size: 10pt;
}

/* Apps */

.icon-grid {
   spacing: 36px;
    -shell-grid-horizontal-item-size: 118px;
    -shell-grid-vertical-item-size: 118px;
}

.icon-grid .overview-icon {
    icon-size: 96px;
}

.all-app {
    padding: 16px 25px 16px 16px;
    spacing: 20px;
}

.all-app:rtl {
    padding-right: 16px;
    padding-left: 25px;
}

.app-filter {
    font-size: 10pt;
    font-weight: bold;
    height: 2.85em;
    color: #222;
    width: 200px;
    padding-left: 12px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.app-filter:hover {
    color: #1a899c;
    
}

.app-filter:selected {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 12px 0px 12px 12px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #f1f1f1;
}

.app-filter:selected:rtl {
    background-image: url("filter-selected-rtl.svg");
    background-position: 10px 10px;
}

.app-filter:focus {
    outline: 1px solid #1a899c;
}

.dash-item-container > .app-well-app {
    padding: 4px 8px;
}

.remove-favorite-icon {
    color: #a0a0a0;
}

.remove-favorite-icon:hover {
    color: #444;
}

.contact {
    width: 272px; /* Same width as two normal results + spacing */
    height: 118px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    transition-duration: 100;
}

.contact-grid {
    spacing: 36px;
    -shell-grid-horizontal-item-size: 272px; /* 2 * -shell-grid-horizontal-item-size + spacing */
    -shell-grid-vertical-item-size: 118px;
}

.contact-content {
    border-radius: 2px;
    padding: 8px;
    width: 232px;
    height: 84px;
    background-color: rgba(11,11,11,0.0);
    color: #444;
    text-align: center;
}

.contact-icon {
  border-radius: 4px;
}

.contact-grid {
    spacing: 36px;
    -shell-grid-item-size: 272px; /* 2 * -shell-grid-item-size + spacing */
}

.contact-details {
  padding: 6px 8px 11px 8px;
}

.contact-details-alias {
  font-size: 14px;
  padding-bottom: 11px;
}

.contact-details-status {
  font-size: 11pt;
}

.contact-details-status-icon {
  padding-right: 2px;
}

.contact:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(240,230,186,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    font-size: 8pt;
    color: #222;
    text-align: center;
}

.app-well-app.running > .overview-icon {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
    bbackground-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(240,230,186,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
}

.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #444;
}

.app-well-menu {
    font-size: 9pt;
}

.dash-label {
    background-color: #fff;
    border-radius: 24px 0px 24px 24px;
    border: 3px solid rgba(0,0,0,0.3);
    color: #444;
    padding: 4px 12px;
    text-align: center;
    -x-offset: 8px;
}

/* LookingGlass */

#LookingGlassDialog
{
  background-color: rgba(0,0,0,0.85);
  spacing: 4px;
  padding: 4px;
  border: 2px solid grey;
  border-radius: 4px;

  color: #88ff66;
}

#LookingGlassDialog > #Toolbar
{
  border: 1px solid grey;
  border-radius: 4px;
}

#LookingGlassDialog .labels {
  spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
  padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover {
  color: #00ff00;
}

#LookingGlassDialog .notebook-tab:selected {
  border: 1px solid #88ff66;
  border-radius: 4px;
  padding: 5px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
  color: #88ff66;
}

.lg-dialog StEntry
{
  color: #88ff66;
}

.lg-obj-inspector-title
{
  spacing: 4px;
}

.lg-obj-inspector-button
{
  border: 1px solid #88ff66;
  padding: 4px;
  border-radius: 4px;
}

.lg-obj-inspector-button:hover
{
  border: 1px solid #00ff00;
}

.lg-dialog .shell-link
{
  color: #88ff66;
}

.lg-dialog .shell-link:hover
{
  color: #00ff00;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: 4px;
  spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
  spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-actions {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
    color: #88ff66;
}

/* Calendar popup */

#calendarArea {
    /* this is the width of the entire popup */
    min-width: 600px;
}

.calendar-vertical-separator {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(79,139,8,1.0);
    background-gradient-end: rgba(171,249,78,1.0);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    width: 0.1em;
}

#calendarPopup {
    border-radius: 5px;
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(128,128,128,0.45);
    color: #777;
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #999;
    font-size: 8.5pt;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
    background-color: rgba(194,230,146,1.0);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    border-radius: 12px 0px 12px 12px;
}
.calendar-change-month-back:active {
    background-color: #fff;
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover {
    background-color: rgba(194,230,146,1.0);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    border-radius: 0px 12px 12px 12px;
}
.calendar-change-month-forward:active {
    background-color: #fff;
}

.datemenu-date-label {
    padding: .2em 2.75em;
    font-size: 10.5pt;
    color: #999;
    font-weight: bold;
}

.calendar-day-base {
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    background-color: rgba(194,230,146,0.6);
    font-weight: bold;
    color: #fff;
    border-radius: 12px 0px 12px 12px;
    font-weight: bold;
}

.calendar-day-base:active {
    background-color: rgba(194,230,146,0.6);
    font-weight: bold;
    color: #fff;
    border-radius: 12px 0px 12px 12px;
    font-weight: bold;
}

.calendar-day-heading {
    color: #999;
    padding-top: 1em;
}

.calendar-week-number {
    color: #999;
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border-top-width: 0;
    border-left-width: 0;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
    color: #666;
}

.calendar-nonwork-day {
    color: #888;
}

.calendar-today {
    background-color: rgba(194,230,146,0.6);
    border: 4px solid rgba(194,230,146,0.4);
    font-weight: bold;
    color: #999;
    border-radius: 12px 0px 12px 12px;
}

.calendar-other-month-day {
     color: rgba(194,230,146,0.8);
}

.calendar-day-with-events {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.2);
    background-gradient-end: rgba(255,255,255,0.2);
    border: 4px solid rgba(194,230,146,0.4);
    font-weight: bold;
    color: #555;
    border-radius: 12px 0px 12px 12px;
}

.events-header-vbox {
    spacing: 6pt;
    padding-right: 1.75em;
}

.events-header-vbox:rtl {
    padding-right: 0em;
    padding-left: 1.75em;
}

.events-header-hbox {
    padding: 0.3em;
}

.events-day-header {
    font-size: 9pt;
    font-weight: bold;
    color: #999;
    padding-left: 1.8em;
    padding-top: 0.8em;
}

.events-day-header:rtl {
    padding-left: 0em;
    padding-right: 0.3em;
}

.events-day-dayname {
    font-size: 9pt;
    color: #999;
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    font-size: 9pt;
    color: #999;
    text-align: right;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task {
    font-size: 9pt;
    color: #666;
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0px;
    padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter {
    link-color: #555;
}

/* Message Tray */
#message-tray {
    color: #666;
    border: 4px solid rgba(255,255,255,0.4);
    border-bottom: 0px;
    border-radius: 12px 12px 0px 0px;
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(88,88,88,0.6);
    background-gradient-end: rgba(33,33,33,0.6);
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.4);
    height: 35px;
}

#notification {
    font-size: 10pt;
    border-radius: 6px;
    background-color: #fff;
    border: 4px solid rgba(255,255,255,0.6);
    color: #333;
    padding: 8px 8px 4px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

.multi-line-notification {
    padding-bottom: 8px;
}

.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer {
    -arrow-border-radius: 12px 0px 12px 12px;
    -arrow-background-color: rgba(255,255,255,1.0);
    -arrow-border-width: 8px;
    -arrow-border-color: rgba(255,255,255,0.6);
    -arrow-base: 30px;
    -arrow-rise: 15px;
}

.summary-boxpointer #notification {
    border-radius: 8px;
    background: rgba(0,0,0,0) !important;
    padding-bottom: 12px;
}

.summary-boxpointer #summary-right-click-menu {
    font-size: 9pt
    padding-top: 12px;
    padding-bottom: 12px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 8px;
}

#notification-scrollview {
    max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 5px;
}

.notification-button {
    font-size: 10pt;
    padding: 4px 42px 5px;
}

.notification-button:focus {
    padding: 3px 41px 4px;
}

.notification-icon-button {
    padding: 5px;
}

.notification-icon-button:focus {
    padding: 4px;
}

.notification-icon-button > StIcon {
    icon-size: 32px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 24px 0px 24px 24px;
    font-size: 10.5pt;
}

.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 24px 0px 24px 24px;

    color: #444;
}

.hotplug-resident-mount:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(240,230,186,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #444;
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 24px 0px 24px 24px;
    color: #444;
}

.chat-log-message {
    color: #888888;
}

.chat-received {
    border: 1px solid rgba(79,139,8,0.5);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #555;
    padding-left: 4px;
}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent {
    border: 1px solid rgba(79,139,8,0.2);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: #222;
    padding-left: 4px;
    padding: 4px;
}

.chat-sent:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-meta-message {
    padding-left: 4px;
    border-radius: 4px;
    font-size: 9pt;
    color: #555;
}

.chat-meta-message:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

#notification StEntry {
    padding: 4px;
    color: #555;
    border: 1px solid rgba(79,139,8,0.6);
    background-color: #fff;
    border-radius: 8px;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
}

#notification StEntry:focus {
    color: #555;
    border: 1px solid rgba(79,139,8,0.6);
    background-color: #fff;
    border-radius: 8px;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
}

.subscription-message {
    font-style: italic;
}

/* The spacing and padding on the summary is tricky; we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
    padding: 2px 0px 2px 4px;
    height: 36px;
}

#summary-mode:rtl {
    padding: 2px 4px 0px 0px;
}

.summary-source-button {
    padding-top: 4px;
    color: #f1f1f1;
}

.summary-source-button:ltr {
    padding-right: 12px;
}

.summary-source-button:selected .summary-source {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 12px 12px 0px 0px;
    color: #fff;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.summary-source-button:expanded:selected .summary-source {
}

.summary-source-button:expanded:selected {
}

.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;
}

.summary-source-counter {
    color: #444;
    background-color: #fff;
    font-size: 9pt;
    border-radius: 1em;
    min-height: 1em;
    min-width: 1em;
}

.source-title {
    font-size: 9pt;
    font-weight: bold;
    padding-left: 4px;
}

.source-title:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    border: 4px solid rgba(255,255,255,0.3);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(233,233,233,1.0);
    background-gradient-end: rgba(233,233,233,1.0);
    border-radius: 12px;
    padding: 18px;
    font-weight: bold;
    color: #555;
    box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.3);
    font-size: 9pt;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 1.0);
    background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0);
    background-gradient-end: rgba(51, 51, 51, 1.0);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 8px;
}

.switcher-list .item-box:outlined {
    padding: 8px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,0.5);
    background-gradient-end: rgba(149,185,101,0.5);
    border-radius: 38px 0px 38px 38px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2)
}

.switcher-list .item-box:selected {
    padding: 8px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 38px 0px 38px 38px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 0.1em;
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(79,139,8,1.0);
    background-gradient-end: rgba(171,249,78,1.0);
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("corner-ripple.png");
}

.ripple-box:rtl {
    background-image: url("corner-ripple-rtl.png");
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: #808080;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: white;
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    border: 4px solid rgba(255,255,255,0.3);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(233,233,233,1.0);
    background-gradient-end: rgba(233,233,233,1.0);
    border-radius: 12px;
    color: #555;
    box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.3);
    padding: 20px;
}

.workspace-switcher {
    background: transparent;
    border: 0px;
    border-radius: 16px;
    padding: 0px;
    spacing: 8px;
}

.ws-switcher-active-up {
    height: 100px;
    background-color: rgba(194,230,146,1.0);
    border-radius: 38px 0px 38px 38px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    background-image: url("ws-switch-arrow-up.svg");
}

.ws-switcher-active-down {
    height: 100px;
    background-color: rgba(194,230,146,1.0);
    border-radius: 38px 0px 38px 38px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    background-image: url("ws-switch-arrow-down.svg");
}

.ws-switcher-box {
    height: 96px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.5);
    border-radius: 38px 0px 38px 38px;
}

/* Modal Dialogs */
.modal-dialog {
    font-size: 12pt;
    border: 6px solid rgba(255,255,255,0.3);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(233,233,233,1.0);
    background-gradient-end: rgba(233,233,233,1.0);
    border-radius: 12px;
    color: #555;
    box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.3);

    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    spacing: 21px;
}

.modal-dialog-button {
    font-size: 10.5pt;

    margin-left: 10px;
    margin-right: 10px;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;

    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 14px 0px 14px 14px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
}

.modal-dialog-button:active,
.modal-dialog-button:hover,
.modal-dialog-button:pressed {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(240,230,186,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 14px 0px 14px 14px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
}

.modal-dialog-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(240,230,186,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 14px 0px 14px 14px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;

    padding-left: 31px;
    padding-right: 31px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Run Dialog */
.run-dialog-label {
    font-size: 9pt;
    color: #444;
    padding: 4px;
}

.run-dialog-error-label {
    font-size: 9pt;
    color: #000;
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-size: 10.5pt;
    width: 23em;
    color: #222;
    border: 1px solid rgba(79,139,8,0.6);
    border-radius: 8px;
    background-color: #fff;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    padding: 4px;
}

.run-dialog {
    border: 6px solid rgba(255,255,255,0.3);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(233,233,233,1.0);
    background-gradient-end: rgba(233,233,233,1.0);
    border-radius: 12px;
    color: #555;
    box-shadow: 0px 0px 8px 6px rgba(0,0,0,0.3);
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.4);
}

.flashspot {
    background-color: #fff;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 10pt;
    font-weight: bold;
    color: #444;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: #444;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #444;
}

.show-processes-dialog-app-list-item:hover {
    color: #444;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: #444;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    font-size: 10pt;
    color: #444;
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    border-radius: 6px;
    width: 64px;
    height: 64px;
}

.end-session-dialog-shutdown-icon {
    width: 32px;
    height: 32px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #ccc;
}

.end-session-dialog-app-list-item:hover {
    color: white;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #444;
}

/* PolicyKit Authentication Dialog */
.prompt-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.prompt-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.prompt-dialog-message-layout {
    spacing: 16px;
}

.prompt-dialog-headline {
    font-size: 10pt;
    font-weight: bold;
    color: #444;
}

.prompt-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.prompt-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.polkit-dialog-user-root-label {
    color: #000;
}

.polkit-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.polkit-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.prompt-dialog-password-entry {
    color: #222;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    padding: 4px;
}

.prompt-dialog-password-entry:focus {
}

.prompt-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: #999;
    padding: 0 4px;
}

.prompt-dialog-error-label {
    font-size: 10pt;
    color: #000;
    padding-bottom: 8px;
}

.prompt-dialog-info-label {
    font-size: 9.5pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.prompt-dialog-null-label {
    font-size: 9.5pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}

/* Network Agent Dialog */

.network-dialog-secret-table {
    spacing-rows: 15px;
}

.keyring-dialog-control-table {
    spacing-rows: 15px;
}

/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* On-screen Keyboard */

#keyboard {
    background: #fff;
    border: 1px solid rgba(244,244,244,0.6);
    color: #444;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 25px;
    min-width: 25px;   
    background-gradient-direction: vertical;
    background-gradient-start: rgba(194,230,146,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #444;
    font-size: 12pt;
    font-weight: bold;
}

.keyboard-key:grayed {
   color: #eee;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(240,230,186,1.0);
    background-gradient-end: rgba(149,185,101,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
}

.keyboard-key:active {
   background-gradient-direction: vertical;
    background-gradient-start: rgba(149,185,101,1.0);
    background-gradient-end: rgba(240,230,186,1.0);
    border-radius: 24px 0px 24px 24px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.2);
    color: #fff;
}

.keyboard-subkeys {
    color: #444;
    padding: 5px;
    -arrow-border-radius: 12px 0px 12px 12px;
    -arrow-background-color: rgba(244,244,244,1.0);
    -arrow-border-width: 8px;
    -arrow-border-color: rgba(244,244,244,0.6);
    -arrow-base: 30px;
    -arrow-rise: 15px;
    -boxpointer-gap: 8px;
}
