/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

/* GNOME Shell Orta, designed by Sean Wilson http://half-left.deviantart.com/. Based off Orta GTK2 theme by SkiesOfAzel http://skiesofazel.deviantart.com/ */

stage {
    font-family: cantarell, sans-serif, ubuntu;
}

.shell-link {
     color: #555;
    text-decoration: underline;
}

.shell-link:hover {
    color: #333;
}

.label-shadow {
    color: rgba(255,255,255,0.5);
}

/* small */
.app-well-menu,
.contact-details-status,
.run-dialog-label,
.run-dialog-error-label {
    font-size: 9pt;
}

/* small bold */
.dash-label,
.window-caption,
.switcher-list, 
.source-title,
.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    font-size: 9pt;
}

StScrollBar
{
  padding: 2px;
}

StScrollView StScrollBar
{
  min-width: 12px;
  min-height: 16px;
}

StScrollView.vfade
{
    -st-vfade-offset: 68px;
}

StScrollView.hfade
{
    -st-hfade-offset: 68px;
}

StScrollBar StBin#trough {
    background-color: #c4c4c5;
    border-radius: 4px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
}

StScrollBar StButton#vhandle
{
    background-gradient-direction: vertical;
    background-gradient-start: #777;
    background-gradient-end: #555;
    border-radius: 6px;
    border: 1px solid rgba(22,22,22,0.3);
}

StScrollBar StButton#hhandle
{
    background-gradient-direction: horizontal;
    background-gradient-start: #777;
    background-gradient-end: #555;
    border-radius: 6px;
    border: 1px solid rgba(22,22,22,0.3);
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover
{
    background-gradient-direction: vertical;
    background-gradient-start: #999;
    background-gradient-end: #555;
    border-radius: 6px;
    border: 1px solid rgba(22,22,22,0.3);
}


/* PopupMenu */

.popup-menu-boxpointer {
    -arrow-border-color: rgba(150,150,150,0.2);
    -arrow-border-radius: 6px;
    -arrow-background-color: #e2e2e3;
    -arrow-border-width: 3px;
    -arrow-base: 22px;
    -arrow-rise: 12px;
    border-radius: 6px;
}

.popup-menu {
    color: #666;
    font-size: 9.5pt;
    min-width: 200px;
}

.popup-submenu-menu-item:open {
    color: #444;
    font-weight: bold;
}

.popup-sub-menu {
    background-color: #eee;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 4px;
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 4px;
}

.popup-sub-menu StScrollBar StBin#trough {
    background-color: #c4c4c5;
    border-radius: 4px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-gradient-direction: vertical;
    background-gradient-start: #777;
    background-gradient-end: #555;
    border-radius: 6px;
    border: 1px solid rgba(22,22,22,0.3);
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 1em 0em;
    padding-left: 4px;
    padding-right: 4px;
}

.popup-menu-item {
    padding: .4em 1.75em;
    spacing: 1em;
}

.popup-menu-item:active {
    background-gradient-direction: vertical; 
    background-gradient-start: #5d5d5d;
    background-gradient-end: #757575;
    border-radius: 12px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
    color: #fff;
}

.popup-image-menu-item {
}

.popup-separator-menu-item {
    -gradient-height: 1px;
    -gradient-start: rgba(99,99,99,0);
    -gradient-end: #bbb;
    -margin-horizontal: 1.5em;
    height: 1em;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: rgba(255,255,255,0.8);
    -slider-border-color: #888;
    -slider-active-background-color: rgba(120,120,120,0.8);
    -slider-active-border-color: #888;
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
    border-radius: 4px;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches (to be used in menus) */
.toggle-switch {
    width: 65px;
    height: 22px;
}

.toggle-switch-us {
    background-image: url("toggle-off-us.svg");
    background-size: contain;
}
.toggle-switch-us:checked {
    background-image: url("toggle-on-us.svg");
    background-size: contain;
}

.toggle-switch-intl {
    background-image: url("toggle-off-intl.svg");
    background-size: contain;
}
.toggle-switch-intl:checked {
    background-image: url("toggle-on-intl.svg");
    background-size: contain;
}

.nm-menu-item-icons {
    spacing: .5em;
}

.popup-inactive-menu-item {
    font-weight: normal;
    color: #999;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.09em;
}

/* Buttons */

.dash-search-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button {
    background-gradient-direction: vertical; 
    background-gradient-start: #eee;
    background-gradient-end: #dbdbdc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #444;
}

.dash-search-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover {
    background-gradient-direction: vertical; 
    background-gradient-start: #fff;
    background-gradient-end: #dbdbdc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #444;
}

.dash-search-button:selected,
.dash-search-button:focus,
.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus {
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #444;
}

.dash-search-button:active,
.dash-search-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
    background-color: #c4c4c5;
    border-radius: 4px;
    box-shadow: inset 0px 2px 2px 1px rgba(0,0,0,0.2);
    color: #444;
}

/* Panel */

#panel {
    color: #666;
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    box-shadow: 0px 0px 2px 4px rgba(0,0,0,0.4);
    border: 1px solid rgba(33,33,33,0.5);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 0px 4px 4px;
    height: 1.86em;
    padding-right: 8px;
    padding-bottom: 1px;
}

#panelLeft, #panelCenter, #panelRight {
    spacing: 4px;
    font-weight: bold;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

#appMenu {
    spacing: 4px;
}

.panel-button #appMenuIcon {
    app-icon-bottom-clip: 1px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    app-icon-bottom-clip: 2px;
}

.app-menu-icon {
    width: 24px;
    height: 24px;
}

.panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #666;
}

.panel-button:hover {
    color: #111;
}

.panel-button:active,
.panel-button:checked,
.panel-button:focus {
    background-gradient-direction: vertical; 
    background-gradient-start: #5d5d5d;
    background-gradient-end: #757575;
    border-radius: 12px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
    color: #fff;
}

.panel-menu {
    -boxpointer-gap: 4px
}

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    border: 1px solid #444;
    border-radius: 12px;
    box-shadow: inset 0px 0px 3px 2px rgba(0,0,0,0.3);
    width: 48pt;
    height: 48pt;
}

.status-chooser-user-icon:hover {
    border: 1px solid #fff;
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1.3em;
    min-width: 120pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
}

.status-chooser-combo.popup-combo-menu {
    border-radius: 6px;
    background-gradient-direction: vertical; 
    background-gradient-start: #eeeeef;
    background-gradient-end: #cececf; 
    border: 1px solid #aaa;
    box-shadow: 0px 0px 6px 3px rgba(55,55,55,0.2);
    color: #666;
    font-size: 10pt;
    padding: 4px;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}


#statusTray > .panel-button:active,
#statusTray > .panel-button:checked,
#statusTray > .panel-button:focus {
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
}

.system-status-icon {
    icon-size: 1.09em;
}

/* Overview */

#overview {
    spacing: 12px;
    background-color: rgba(226,226,228,0.5);
}

.window-caption {
    spacing: 25px;
}

.workspace-controls {
    visible-width: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border: 1px solid rgba(88,88,88,0.5);
    border-right: 0px;
    border-radius: 0px 12px 12px 0px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.8);
    border-radius: 9px 0px 0px 9px;
    padding: 8px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
}

.workspace-thumbnails {
    spacing: 7px;
}

.workspace-thumbnail-indicator {
    background-gradient-direction: vertical; 
    background-gradient-start: rgba(233,233,233,0.5);
    background-gradient-end: rgba(160,160,160,0.5);
    box-shadow: inset 0px 0px 6px 4px rgba(0,0,0,0.3);
    border: 3px solid #333;
}

.window-caption {
    background-gradient-direction: vertical; 
    background-gradient-start: #5d5d5d;
    background-gradient-end: #757575;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.0);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
    color: #fff;
    font-size: 10pt;
    padding: 2px 8px;
    -shell-caption-spacing: 4px;
}

.window-close {
    background-image: url("close-window.svg");
    height: 34px;
    width: 34px;
    -shell-close-overlap: 20px;
    -st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

/* Dash */

#dash {
    color: #333;
    font-size: 10pt;
    padding: 4px 0px;
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border: 1px solid rgba(88,88,88,0.5);
    border-left: 0px;
    border-radius: 0px 12px 12px 0px;
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.8);
}

#dash:rtl {
    border-left: 1px;
    border-right: 0px;
    border-radius: 9px 0px 0px 9px;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.dash-placeholder {
    background-image: url("dash-placeholder.svg");
    height: 27px;
    width: 48px;
}

#viewSelector {
    spacing: 1em;
    font-size: 10pt;
}

#viewSelectorTabBar {
    padding: 1em;
}

#searchArea {
    padding: 0px 24px;
}

#searchEntry {
    padding: 4px 12px;
    border-radius: 4px;
    color: #333;
    border: 1px solid #555;
    background-color: #fff;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
}

#searchEntry:focus,
#searchEntry:hover {
    padding: 4px 12px;
    border-radius: 4px;
    color: #000;
    border: 1px solid #555;
    background-color: rgba(255,255,255,0.8);
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
}

#searchEntry:hover {
    transition-duration: 300;
}

#searchEntry:focus {
   border: 1px solid rgba(11,11,11,0.9);
    background-color: #f3f3f3;
    box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.6);
    transition-duration: 300;
}

.search-entry-icon {
    icon-size: 1em;
    color: #8d8f8a;
}

.view-tab-title {
    color: #777;
    padding: 0px 0.75em;
    height: 1.5em;
    font-weight: bold;
    border: 1px solid transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.view-tab-title:hover {
    color: #333;
}

.view-tab-title:selected {
    background-gradient-direction: vertical; 
    background-gradient-start: #c1c1c1;
    background-gradient-end: #cacacb;
    border: 1px solid rgba(255,255,255,0.5);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 6px;
    box-shadow: inset 0px 1px 2px 2px rgba(66,66,66,0.2);
    color: #777;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
}

#viewSelectorTabBar {
    padding: 6px;
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #cccccf;
    border: 1px solid #999;
    border-radius: 6px;
}

#searchResults {
    padding: 20px 10px 10px 10px;
    spacing: 18px;
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 36px;
}

#searchResultsContent:rtl {
    padding-right: 0px;
    padding-left: 20px;
}

.search-statustext,
.search-section-header {
    background-gradient-direction: vertical; 
    background-gradient-start: #575757;
    background-gradient-end: #737373;
    border: 1px solid rgba(44,44,44,0.4);
    border-radius: 8px 8px 0px 0px;
    box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
    padding: 4px 12px;
    spacing: 4px;
    color: #fff;
    font-size: 9pt;
    font-weight: bold;
    
}

.search-section-results {
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid rgba(255,255,255,0.2);
    color: #222;
    padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

.dash-search-button {
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #444;
    height: 32px;
    width: 200px;
}

.dash-search-button:selected,
.dash-search-button:hover {
    background-gradient-direction: vertical; 
    background-gradient-start: #fff;
    background-gradient-end: #cbcbcb;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #444;
}

.dash-search-button-label {
    color: #222;
    font-size: 10pt;
}

.dash-label {
    border-radius: 4px;
    padding: 4px 12px;
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border: 1px solid rgba(88,88,88,0.5);
    color: #333;
    text-align: center;
    -x-offset: 8px;
}

/* Apps */

.icon-grid {
   spacing: 36px;
    -shell-grid-horizontal-item-size: 118px;
    -shell-grid-vertical-item-size: 118px;
}

.icon-grid .overview-icon {
    icon-size: 96px;
}

.all-app {
    padding: 16px 25px 16px 16px;
    spacing: 20px;
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border: 1px solid rgba(88,88,88,0.5);
    border-radius: 5px;
}

.all-app:rtl {
    padding-right: 16px;
    padding-left: 25px;
}

.contact {
    width: 272px; /* Same width as two normal results + spacing */
    height: 118px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
}

.contact-grid {
    spacing: 36px;
    -shell-grid-horizontal-item-size: 272px; /* 2 * -shell-grid-horizontal-item-size + spacing */
    -shell-grid-vertical-item-size: 118px;
}

.contact-content {
    border-radius: 2px;
    padding: 8px;
    width: 232px;
    height: 84px;
    background-color: transparent;
    color: #444;
    text-align: center;
}

.contact-icon {
  border-radius: 4px;
}

.contact-details {
  padding: 6px 8px 11px 8px;
}

.contact-details-alias {
  font-size: 16px;
  padding-bottom: 11px;
}

.contact-details-status {
  font-size: 11pt;
}

.contact-details-status-icon {
  padding-right: 2px;
}

.contact:hover {
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #444;
}

.app-filter {
    font-size: 10pt;
    font-weight: bold;
    height: 2.85em;
    color: #666;
    width: 160px;
    padding-left: 12px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.app-filter:hover {
    background-gradient-direction: vertical; 
    background-gradient-start: #5d5d5d;
    background-gradient-end: #757575;
    border-radius: 18px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
    color: #fff;
    padding-left: 12px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.app-filter:selected {
    background-gradient-direction: vertical; 
    background-gradient-start: #5d5d5d;
    background-gradient-end: #757575;
    border-radius: 18px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
    color: #fff;
    padding-left: 12px;
    padding-right: 4px;
    background-position: 190px 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.app-filter:selected:rtl {
    background-image: url("filter-selected-rtl.svg");
    background-position: 10px 10px;
}

.app-filter:focus {
    outline: 1px solid #fff;
}

.dash-item-container > .app-well-app {
    padding: 4px 8px;
}

.remove-favorite-icon {
    color: #a0a0a0;
}

.remove-favorite-icon:hover {
    color: #444;
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    font-size: 9.5pt;
    color: #666;
    text-align: center;
}

.app-well-app.running > .overview-icon {
    background-color: #c4c4c5;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,0.3);
    color: #444;
}

.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
    background-color: #c4c4c5;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: inset 0px 2px 2px 1px rgba(0,0,0,0.2);
    color: #444;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #444;
}

.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
    background-color: #c4c4c5;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: inset 0px 2px 2px 1px rgba(0,0,0,0.2);
    color: #444;
}

.app-well-menu {
    font-size: 9pt;
}

/* LookingGlass */

#LookingGlassDialog
{
  background-color: rgba(0,0,0,0.85);
  spacing: 4px;
  padding: 4px;
  border: 2px solid grey;
  border-radius: 4px;

  color: #88ff66;
}

#LookingGlassDialog > #Toolbar
{
  border: 1px solid grey;
  border-radius: 4px;
}

#LookingGlassDialog .labels {
  spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
  padding: 2px;
}

#LookingGlassDialog .notebook-tab:hover {
  color: #00ff00;
}

#LookingGlassDialog .notebook-tab:selected {
  border: 1px solid #88ff66;
  border-radius: 4px;
  padding: 5px;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel
{
  color: #88ff66;
}

.lg-dialog StEntry
{
  color: #88ff66;
}

.lg-obj-inspector-title
{
  spacing: 4px;
}

.lg-obj-inspector-button
{
  border: 1px solid #88ff66;
  padding: 4px;
  border-radius: 4px;
}

.lg-obj-inspector-button:hover
{
  border: 1px solid #00ff00;
}

.lg-dialog .shell-link
{
  color: #88ff66;
}

.lg-dialog .shell-link:hover
{
  color: #00ff00;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
  padding: 4px;
  spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
  spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #6f6f6f;
    border-radius: 4px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-actions {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0, 0, 0, 0.9);
    border: 2px solid grey;
    border-radius: 4px;
    padding: 6px;
    color: #88ff66;
}

/* Calendar popup */

#calendarArea {
    /* this is the width of the entire popup */
    min-width: 600px;
}

.calendar-vertical-separator {
    -stipple-width: 1px;
    -stipple-color: #666;
    width: 0.3em;
}

#calendarPopup {
    border-radius: 5px;
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(128,128,128,0.45);
    color: #666;
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 0px;
}

.calendar-month-label {
    color: #666;
    font-size: 8.5pt;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.svg");
    border-radius: 8px;
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
    background-color: #999999;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    border-radius: 8px;
}
.calendar-change-month-back:active {
    background-color: #aaaaaa;
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.svg");
    border-radius: 8px;
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover {
    background-color: #999999;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    border-radius: 8px;
}
.calendar-change-month-forward:active {
    background-color: #aaaaaa;
}

.datemenu-date-label {
    padding: .2em 2.75em;
    font-size: 10.5pt;
    color: #666;
    font-weight: bold;
}

.calendar-day-base {
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
}

.calendar-day-base:hover {
    background-color: #777777;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
}

.calendar-day-base:active {
    background-color: #777777;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    color: #fff;
    border-radius: 8px;
}

.calendar-day-heading {
    color: #666;
    padding-top: 1em;
}

.calendar-week-number {
    color: #666666;
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border-top-width: 0;
    border-left-width: 0;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
    color: #222;
}

.calendar-nonwork-day {
    color: #888;
}

.calendar-today {
    background-gradient-direction: vertical; 
    background-gradient-start: #5d5d5d;
    background-gradient-end: #757575;
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.0);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
}

.calendar-other-month-day {
    color: #666;
}

.calendar-day-with-events {
    font-weight: bold;
    color: #666;
    background-color: rgba(255,255,255,0.5);
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.events-header-vbox {
    spacing: 6pt;
    padding-right: 1.75em;
}

.events-header-vbox:rtl {
    padding-right: 0em;
    padding-left: 1.75em;
}

.events-header-hbox {
    padding: 0.3em;
}

.events-day-header {
    font-size: 9pt;
    font-weight: bold;
    color: #666;
    padding-left: 1.8em;
    padding-top: 0.8em;
}

.events-day-header:rtl {
    padding-left: 0em;
    padding-right: 0.3em;
}

.events-day-dayname {
    font-size: 9pt;
    color: #666;
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    font-size: 9pt;
    color: #666;
    text-align: right;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task {
    font-size: 9pt;
    color: #666;
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0px;
    padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter {
    link-color: #222;
}

/* Message Tray */
#message-tray {
    background-gradient-direction: vertical;
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    height: 36px;
    color: #444;
}

#notification {
    font-size: 10pt;
    border-radius: 8px;
    background-color: #cececf;
    color: #444;
    padding: 8px 8px 4px 8px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

#notification.multi-line-notification {
    padding-bottom: 8px;
}

.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer {
    -arrow-border-color: rgba(150,150,150,0.2);
    -arrow-border-radius: 6px;
    -arrow-background-color: #e2e2e3;
    -arrow-border-width: 3px;
    -arrow-base: 22px;
    -arrow-rise: 12px;
    border-radius: 6px;
}

.summary-boxpointer #notification {
    border-radius: 8px;
    background: rgba(0,0,0,0) !important;
    padding-bottom: 12px;
}

.summary-boxpointer #summary-right-click-menu {
    font-size: 9pt
    padding-top: 12px;
    padding-bottom: 12px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 8px;
}

#notification-scrollview {
    max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 5px;
}

.notification-button {
    border-radius: 4px;
    font-size: 10pt;
    padding: 4px 42px 5px;
}

.notification-button:focus {
    padding: 3px 41px 4px;
}

.notification-icon-button {
    border-radius: 5px;
    padding: 5px;
}

.notification-icon-button:focus {
    padding: 4px;
}

.notification-icon-button > StIcon {
    icon-size: 32px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 10.5pt;
}

.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    spacing: 8px;
    border-radius: 4px;

    color: #666;
}

.hotplug-resident-mount:hover {
    background-gradient-direction: vertical; 
    background-gradient-start: #fff;
    background-gradient-end: #dbdbdc;
    border-radius: 4px;
    color: #444;
}

.hotplug-resident-mount-label {
    color: #666;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
    border-radius: 4px;
    color: #666;
}

.chat-log-message {
    color: #666;
}

.chat-group-sent, .chat-group-meta {
    padding: 8px 0;
}

.chat-received {
    background-gradient-direction: vertical; 
    background-gradient-start: #fff;
    background-gradient-end: #dbdbdc;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #666;
    padding-left: 4px;
}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent {
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #444;
    padding-left: 4px;
}

.chat-sent:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-meta-message {
    padding-left: 4px;
    border-radius: 4px;
    font-size: 8.5pt;
    color: #666
}

.chat-meta-message:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.subscription-message {
    font-style: italic;
}

#notification StEntry {
    padding: 4px;
    color: #444;
    border: 1px solid rgba(255,255,255,0.3);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #fff;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
}

#notification StEntry:focus {
    color: #444;
    border: 1px solid rgba(255,255,255,0.3);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: #fff;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
}

/* The spacing and padding on the summary is tricky; we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
    padding: 2px 0px 0px 4px;
    height: 36px;
}

#summary-mode:rtl {
    padding: 2px 4px 0px 0px;
}

.summary-source-button {
    color: #666;
}

.summary-source-button:ltr {
    padding-right: 12px;
}

.summary-source-button:selected .summary-source {
    background-gradient-direction: vertical; 
    background-gradient-start: #5d5d5d;
    background-gradient-end: #757575;
    border-radius: 12px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
    color: #fff;
}

.summary-source-button:expanded:selected .summary-source {
}

.summary-source-button:expanded:selected {
}

.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;
}

.source-title {
    font-size: 9pt;
    font-weight: bold;
    padding-left: 4px;
}

.summary-source-counter {
    color: #666;
    background-color: #eee;
    font-size: 9pt;
    border-radius: 4px;
    min-height: 1em;
    min-width: 1em;
}

.source-title:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    border-radius: 6px;
    background-gradient-direction: vertical; 
    background-gradient-start: #eeeeef;
    background-gradient-end: #cececf; 
    border: 1px solid rgba(22, 22, 22, 0.3);
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.4);
    padding: 20px;

    font-size: 9pt;
    color: #666;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 1.0);
    background-gradient-end: rgba(51, 51, 51, 0);
    border-radius: 24px;
    border-radius-topright: 0px;
    border-radius-bottomright: 0px;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(51, 51, 51, 0);
    background-gradient-end: rgba(51, 51, 51, 1.0);
    border-radius: 24px;
    border-radius-topleft: 0px;
    border-radius-bottomleft: 0px;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 8px;
}

.switcher-list .item-box:outlined {
    padding: 6px;
    border: 2px solid rgba(85,85,85,1.0);
}

.switcher-list .item-box:selected {
    background-gradient-direction: vertical; 
    background-gradient-start: #5d5d5d;
    background-gradient-end: #757575;
    border-radius: 16px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.3);
    color: #fff;
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width:  256px;
}

.switcher-list .separator {
    width: 1px;
    background: rgba(255,255,255,0.33);
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("corner-ripple.png");
}

.switcher-arrow {
    border-color: rgba(0,0,0,0);
    color: #808080;
}

.switcher-arrow:highlighted {
    border-color: rgba(0,0,0,0);
    color: #fff;
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    border-radius: 16px;
    background-gradient-direction: vertical; 
    background-gradient-start: #eeeeef;
    background-gradient-end: #cececf; 
    border: 1px solid rgba(22, 22, 22, 0.3);
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.4);
    padding: 20px;
}

.workspace-switcher {
    background: transparent;
    border: 0px;
    border-radius: 16px;
    padding: 0px;
    spacing: 8px;
}

.ws-switcher-active-up {
    height: 100px;
    background-color: #757575;
    border-radius: 16px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
    background-image: url("ws-switch-arrow-up.svg");
    border-radius: 16px;
}

.ws-switcher-active-down {
    height: 100px;
    border: 0px;
    background-color: #757575;
    border-radius: 16px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
    background-image: url("ws-switch-arrow-down.svg");
}

.ws-switcher-box {
    height: 96px;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.5);
    background-color: rgba(66,66,66,0.3);
    border-radius: 16px;
}

/* Modal Dialogs */
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
    font-size: 10pt;
    font-weight: bold;
    color: #666;
}

.modal-dialog {
    font-size: 10pt;
    border-radius: 8px;
    background-gradient-direction: vertical; 
    background-gradient-start: #eeeeef;
    background-gradient-end: #cececf; 
    border: 1px solid rgba(22, 22, 22, 0.3);
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.4);
    color: #666;

    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    spacing: 21px;
}

.modal-dialog-button {
    font-size: 9.5pt;

    margin-left: 10px;
    margin-right: 10px;

    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;

    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #666;
}

.modal-dialog-button:active,
.modal-dialog-button:hover,
.modal-dialog-button:pressed {
    background-gradient-direction: vertical; 
    background-gradient-start: #fff;
    background-gradient-end: #cdcdcd;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #444;
}

.modal-dialog-button:focus {
    background-gradient-direction: vertical; 
    background-gradient-start: #fff;
    background-gradient-end: #cdcdcd;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 2px 4px 2px rgba(0,0,0,0.3);
    color: #666;

    padding-left: 31px;
    padding-right: 31px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Run Dialog */
.run-dialog-label {
    font-size: 9pt;
    color: #666;
    padding: 4px;
}

.run-dialog-error-label {
    font-size: 9pt;
    color: #000;
}

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
    font-size: 10pt;
    width: 23em;
    color: #444;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    padding: 4px;
}

.run-dialog {
    border-radius: 8px;
    background-gradient-direction: vertical; 
    background-gradient-start: #eeeeef;
    background-gradient-end: #cececf; 
    border: 1px solid rgba(22, 22, 22, 0.3);
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.4);
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.lightbox {
    background-color: rgba(0, 0, 0, 0.4);
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    font-size: 10pt;
    font-weight: bold;
    color: #666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.end-session-dialog-description {
    font-size: 9pt;
    color: #666;
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    border-radius: 6px;
    width: 48px;
    height: 48px;
}

.end-session-dialog-shutdown-icon {
    width: 48px;
    height: 48px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: #666;
}

.end-session-dialog-app-list-item:hover {
    color: #333;
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #666;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: red;
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    font-size: 10pt;
    font-weight: bold;
    color: #666;
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0px;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    font-size: 10pt;
    color: #666;
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: #666;
}

.show-processes-dialog-app-list-item:hover {
    color: #666;
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 9pt;
}


/* PolicyKit Authentication Dialog */
.prompt-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.prompt-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.prompt-dialog-message-layout {
    spacing: 16px;
}

.prompt-dialog-headline {
    font-size: 12pt;
    font-weight: bold;
    color: #444;
}

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0px;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #000;
}

.prompt-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.prompt-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.prompt-dialog-password-entry {
    color: #222;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.4);
    padding: 4px;
}

.prompt-dialog-password-entry:focus {
}

.prompt-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: #000;
    padding: 0 4px;
}

.prompt-dialog-error-label {
    font-size: 10pt;
    color: #000;
    padding-bottom: 8px;
}

.prompt-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.prompt-dialog-null-label {
    font-size: 10pt;
    color: rgba(0,0,0,0);
    padding-bottom: 8px;
}

/* Network Agent Dialog */

.network-dialog-secret-table {
    spacing-rows: 15px;
}

.keyring-dialog-control-table {
    spacing-rows: 15px;
}

/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0px;
}

/* On-screen Keyboard */

#keyboard {
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border: 1px solid rgba(88,88,88,0.5);
    border-radius: 4px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.3);
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #dbdbdc;
    border: 1px solid rgba(88,88,88,0.5);
    font-size: 12pt;
    font-weight: bold;
    border-radius: 6px;
    color: #444;
}

.keyboard-key:grayed {
   color: #888;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-gradient-direction: vertical; 
    background-gradient-start: #fff;
    background-gradient-end: #ccc;
    border: 1px solid rgba(88,88,88,0.5);
}

.keyboard-key:active {
   background-gradient-direction: vertical; 
    background-gradient-start: #fcfcfc;
    background-gradient-end: #eee;
    border: 1px solid rgba(88,88,88,0.5);
}

.keyboard-subkeys {
    color: #444;
    padding: 5px;
    border-radius: 6px;
    background-gradient-direction: vertical; 
    background-gradient-start: #eeeeef;
    background-gradient-end: #cececf; 
    border: 1px solid rgba(22, 22, 22, 0.5);
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.4);;
    -boxpointer-gap: 10px;
}
