/* Copyright 2009, Red Hat, Inc.
 *
 * Portions adapted from Mx's data/style/default.css
 *   Copyright 2009 Intel Corporation
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms and conditions of the GNU Lesser General Public License,
 * version 2.1, as published by the Free Software Foundation.
 *
 * This program is distributed in the hope it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for
 * more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program; if not, write to the Free Software Foundation,
 * Inc., 51 Franklin St - Fifth Floor, Boston, MA 02110-1301 USA.
 */

/* Text Styles */

/* default text style */
stage {
    font-family: "Open Sans", ubuntu, sans-serif;
    font-size: 9pt;
    color: #fff;
}

/* links */
.shell-link {
    color: #06f;
    text-decoration: underline;
}

.shell-link:hover {
    color: #0af;
}

/* small */
.app-well-menu,
.contact-details-status,
.run-dialog-label,
.run-dialog-error-label {
    font-size: 9pt;
}

/* small bold */
.dash-label,
.window-caption,
.switcher-list, 
.source-title,
.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    font-size: 9pt;
    font-weight: bold;
}

/* Scroll Bars */

StScrollBar {
    padding: 0;
}

StScrollView.vfade {
    -st-vfade-offset: 5px;
}

StScrollView.hfade {
    -st-hfade-offset: 5px;
}

StScrollView StScrollBar {
    min-width: 5px;
    min-height: 15px;
}

StScrollBar StBin#trough {
    background-color: transparent;
}

StScrollBar StButton#vhandle {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(184,239,236,0.3);
    background-gradient-end: rgba(255,255,255,0.3);
    border-radius: 5px;
    transition-duration: 100;
}

StScrollBar StButton#hhandle {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.3);
    background-gradient-end: rgba(255,255,255,0.3);
    border-radius: 5px;
    transition-duration: 100;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
    background-gradient-start: rgba(54,155,49,0.9);
    background-gradient-end: rgba(104,205,99,0.9);
}

/* Check Boxes */

.check-box ShellGenericContainer {
    spacing: .8em;
}

.check-box StBin {
    width: 24px;
    height: 22px;
    background-image: url("checkbox-off.png");
}

.check-box:checked StBin {
    background-image: url("checkbox-on.png");
}

/* PopupMenu */

.popup-menu-boxpointer {
    color: #333;
    -boxpointer-gap: 10px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    border-radius: 5px;
}

.popup-menu {
    min-width: 200px;
}

.popup-submenu-menu-item:open {
    background-color: transparent;
}

.popup-sub-menu {
    background-color: rgba(255,255,255,0.90);
}

.popup-sub-menu .popup-menu-item:ltr {
    padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
    padding-left: 0em;
}

.popup-sub-menu StScrollBar {
    padding: 5px;
}

.popup-sub-menu StScrollBar StBin#trough {
    border-width: 0;
}

.popup-sub-menu StScrollBar StBin#vhandle {
    background-color: rgba(255,255,255,0.15);
    border-width: 0;
}

.popup-combo-menu {
    color: #333;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    padding: 1em 0em;
    border-radius: 5px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content {
    padding: 1em 0em;
}

.popup-menu-item {
    padding: .4em 1.75em;
    spacing: 1em;
    border: 1px solid transparent;
    border-radius: 3px;
}

.popup-menu-item:active {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,0.9);
    background-gradient-end: rgba(104,205,99,0.9);
    border: 1px solid rgba(104,205,99,0.1);
}

.popup-menu-item:insensitive {
    color: #999;
}

.popup-image-menu-item {
}

.popup-combobox-item {
    spacing: 1em;
}

.popup-separator-menu-item {
    background-color: rgba(255,255,255,0.3);
    height: 1px;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    height: 1em;
    min-width: 15em;
    -slider-height: 1px;
    -slider-background-color: rgba(168,168,168,1.0);
    -slider-border-color: rgba(168,168,168,1.0);
    -slider-active-background-color: rgba(255,0,150,1.0);
    -slider-active-border-color: rgba(255,0,150,1.0);
    -slider-border-width: 0;
    -slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    font-weight: normal;
    color: #999;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.14em;
}

/* Switches */
.toggle-switch {
    width: 64px;
    height: 22px;
}

.toggle-switch-us,
.toggle-switch-intl {
    background-image: url("toggle-off.png");
    background-size: contain;
}

.toggle-switch-us:checked,
.toggle-switch-intl:checked {
    background-image: url("toggle-on.png");
    background-size: contain;
}

.nm-menu-item-icons {
    spacing: .5em;
}

/* Buttons */

.dash-search-button,
.notification-button,
.notification-icon-button,
.hotplug-notification-item,
.hotplug-resident-eject-button,
.modal-dialog-button {
    color: #333;
    font-weight: bold;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,1.0);
    background-gradient-end: rgba(233,233,233,1.0);
    border: 1px solid rgba(168,168,168,1.0);
    border-radius: 3px;
    transition-duration: 100;
}

.dash-search-button:hover,
.notification-button:hover,
.notification-icon-button:hover,
.hotplug-notification-item:hover,
.hotplug-resident-eject-button:hover,
.modal-dialog-button:hover {
    background-gradient-start: rgba(255,255,255,1.0);
    background-gradient-end: rgba(233,233,233,1.0);
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}

.dash-search-button:selected,
.dash-search-button:focus,
.notification-button:focus,
.notification-icon-button:focus,
.hotplug-notification-item:focus,
.modal-dialog-button:focus {
    border: 1px solid rgba(168,168,168,1.0);
}

.dash-search-button:active,
.dash-search-button:pressed,
.notification-button:active,
.notification-icon-button:active,
.hotplug-notification-item:active,
.hotplug-resident-eject-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed {
    background-gradient-start: rgba(233,233,233,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
}

/* fix for media player extension buttons */
.hotplug-resident-eject-button > .button-icon {
    color: #333;
}

/* Panel */

#panel {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.3);
    background-gradient-end: rgba(255,255,255,0.3);
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.9);
    border: 1px solid rgba(255,255,255,0.3);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-weight: bold;
    height: 2.1em;
}

#panelLeft, #panelCenter {
    spacing: 4px;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

.panel-corner {
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
}

#appMenu {
    spacing: 4px;
}

/* used for the app menu header only */
.label-shadow {
    color: transparent;
}

.panel-button #appMenuIcon,
.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    width: 0;
    height: 0;
}

.app-menu-icon {
}

.panel-button > StIcon {
    icon-size: 16px;
    icon-shadow: 0 1px 2px rgba(0,0,0,0.9);
}

.panel-button {
    -natural-hpadding: 10px;
    -minimum-hpadding: 5px;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,0.9);
    border: 1px solid transparent;
    border-radius: 3px;
    transition-duration: 100;
}

.panel-button:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,0.9);
    background-gradient-end: rgba(104,205,99,0.9);
    border: 1px solid rgba(104,205,99,0.1);
}

.panel-button:active,
.panel-button:overview,
.panel-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,1.0);
    background-gradient-end: rgba(104,205,99,1.0);
}

.panel-status-button:active,
.panel-status-button:checked,
.panel-status-button:focus {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,1.0);
    background-gradient-end: rgba(104,205,99,1.0);
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
}

.panel-menu {
    -boxpointer-gap: 5px
}

/* User Menu */

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    border: 2px solid transparent;
    border-radius: 5px;
    width: 36pt;
    height: 36pt;
    transition-duration: 100;
}

.status-chooser-user-icon:hover {
    border: 2px solid rgba(104,205,99,1.0);
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1em;
    min-width: 100pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
}

.status-chooser-combo.popup-combo-menu {
    color: #333;
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgba(255,255,255,0.3);
    padding: .4em 0em;
    border-radius: 5px;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}

.system-status-icon {
    icon-size: 1.14em;
    transition-duration: 100;
}

/* Overview */

#overview {
    spacing: 12px;
}

.window-caption {
    spacing: 25px;
}

.workspace-controls {
    visible-width: 32px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    border-right: 0;
    border-radius: 3px 0 0 3px;
    padding: 9px;
}

.workspace-thumbnails-background:rtl {
    border-right: 1px;
    border-left: 0;
    border-radius: 0 3px 3px 0;
}

.workspace-thumbnails {
    spacing: 9px;
}

.workspace-thumbnail-indicator {
    outline: 2px solid rgba(104,205,99,1.0);
    border: 1px solid rgba(104,205,99,1.0);
}

.window-caption {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.3);
    background-gradient-end: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    padding: 3px 9px;
    text-align: center;
    -shell-caption-spacing: 6px;
}

.window-close {
    background-image: url("close-window.png");
    background-size: contain;
    height: 36px;
    width: 36px;
    -shell-close-overlap: 24px;
    }

.window-close:active {
    background-image: url("close-window-active.png");
    background-size: contain;
}

.window-close:rtl {
    -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

/* Dash */

#dash {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    padding: 6px 0;
    border-left: 0;
    border-radius: 0 3px 3px 0;
}

#dash:rtl {
    border-left: 1px;
    border-right: 0;
    border-radius: 3px 0 0 3px;
}

#dash:empty {
    height: 100px;
    width: 60px;
}

.dash-placeholder {
    background-image: url("dash-placeholder.svg");
    background-size: contain;
    height: 24px;
}

#viewSelector {
    spacing: 1em;
}

#viewSelectorTabBar {
    padding: 1em;
}

/* Search Box */

#searchArea {
    padding: 0 24px;
}

#searchEntry {
    color: rgba(255,255,255,0.6);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.3);
    background-gradient-end: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    padding: 4px 12px;
    selected-color: #fff;
    selection-background-color: rgba(0,0,0,0.6);
    caret-color: rgb(128,128,128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 100;
}

#searchEntry:focus,
#searchEntry:hover {
    color: #fff;
    caret-color: #eee;
}

.search-entry-icon {
    color: rgba(255,255,255,0.6);
    icon-size: 1em;
}

/* View Tabs */

.view-tab-title {
    color: rgba(255,255,255,0.6);
    background-color: transparent;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 4px 20px;
    transition-duration: 100;
}

.view-tab-title:selected {
    color: #fff;
}

.view-tab-title:hover,
.view-tab-title:selected:hover {
    color: rgba(104,205,99,1.0);
}

.view-tab-title:selected {
    color: #fff;
}

/* Search Results */

#searchResults {
    padding: 20px 10px 10px 10px;
    spacing: 18px;
}

#searchResultsContent {
    padding-right: 20px;
    spacing: 36px;
}

#searchResultsContent:rtl {
    padding-right: 0;
    padding-left: 20px;
}

.search-statustext,
.search-section-header {
    font-weight: bold;
    padding: 4px 15px;
    spacing: 4px;
    font-size: .9em;
}

.search-section-results {
    padding: 6px;
}

.search-section-list-results {
    spacing: 4px;
}

.results-container {
    spacing: 4px;
}

.search-providers-box {
    spacing: 12px;
}

/* Text labels are an odd number of pixels tall. The uneven top and bottom
 * padding compensates for this and ensures that the label is vertically
 * centered */
.dash-search-button {
    padding: 4px auto;
    width: 200px;
}

.dash-search-button:focus,
.dash-search-button:selected {
}

.dash-label {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.3);
    background-gradient-end: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    padding: 3px 9px;
    text-align: center;
    -x-offset: 10px;
}

/* Application Launchers and Grid */

.icon-grid {
    spacing: 48px;
    -shell-grid-horizontal-item-size: 118px;
    -shell-grid-vertical-item-size: 118px;
}

.icon-grid .overview-icon {
    icon-size: 84px;
}

.all-app {
    padding: 21px;
    spacing: 21px;
}

.all-app:rtl {
    padding: 21px;
}

.app-filter {
    color: rgba(255,255,255,0.6);
    font-weight: bold;
    width: 150px;
    padding: 6px auto 6px 15px ;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition-duration: 100;
}

.app-filter:hover,
.app-filter:selected:hover {
    color: rgba(104,205,99,1.0);
}

.app-filter:selected {
    color: #fff;
}

.dash-item-container > .app-well-app {
    padding: 4px 8px;
}

.remove-favorite-icon {
    color: rgba(0,0,0,0.3);
}

.remove-favorite-icon:hover {
    color: #fff;
    icon-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    transition-duration: 100;
}

.app-well-app.running > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,0.6);
    background-gradient-end: rgba(104,205,99,0.6);
    border: 1px solid rgba(255,255,255,0.1);
}

.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,0.9);
    background-gradient-end: rgba(104,205,99,0.9);
    border: 1px solid rgba(104,205,99,0.1);
}

.app-well-app:hover > .overview-icon,
.app-well-app.running:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,1.0);
    background-gradient-end: rgba(104,205,99,1.0);
    border: 1px solid rgba(104,205,99,0.1);
}

.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,0.9);
    background-gradient-end: rgba(104,205,99,0.9);
    border: 1px solid rgba(104,205,99,0.1);
}

.app-well-menu {
    -boxpointer-gap: 10px;
}

/* Contacts */

.contact-grid {
    spacing: 48px;
    -shell-grid-horizontal-item-size: 284px; /* 2 * -shell-grid-item-size + spacing */
    -shell-grid-vertical-item-size: 284px;
}

.contact {
    width: 230px; /* Same width as two normal results + spacing */
    height: 96px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 3px;
    padding: 10px;
    border: 1px transparent;
    transition-duration: 100;
}

.contact-content {
    color: #333;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: inset 0 1px 3px 0 rgba(255,255,255,0.3);
    border-radius: 3px;
    padding: 8px;
    width: 218px;
    height: 84px;
}

.contact-icon {
    border-radius: 3px;
}

.contact-details {
    padding: 6px 8px 11px 8px;
}

.contact-details-alias {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 11px;
}

.contact-details-status-icon {
    padding-right: 2px;
}

.contact:hover,
.contact:selected:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,1.0);
    background-gradient-end: rgba(104,205,99,1.0);
    border: 1px solid rgba(255,255,255,0.1);
    transition-duration: 100;
}

.contact:selected {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,0.9);
    background-gradient-end: rgba(104,205,99,0.9);
    border: 1px solid rgba(104,205,99,0.1);
}

.contact:focus {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.3);
    background-gradient-end: rgba(255,255,255,0.15);
    box-shadow: inset 0px 1px 3px 0px rgba(255,255,255,0.1);
    border: 1px solid rgba(0,0,0,0.2);
}

/* LookingGlass */

#LookingGlassDialog {
    background-color: rgba(0,0,0,0.9);
    border: 1px solid rgba(255,255,255,0.1);
    spacing: 4px;
    padding: 4px;
    border-radius: 5px;
}

#LookingGlassDialog > #Toolbar {
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
}

#LookingGlassDialog .labels {
    spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    color: #ccc;
    padding: 2px;
    transition-duration: 100;
}

#LookingGlassDialog .notebook-tab:hover {
    color: #fff;
}

#LookingGlassDialog .notebook-tab:selected {
    color: #fff;
    font-weight: bold;
}

#LookingGlassDialog .lg-inspector-title {
    font-weight: bold;
    padding-bottom: 8px;
}

.lg-dialog StLabel {
    color: #eee;
}

.lg-dialog StEntry {
    selection-background-color: rgba(0,0,0,0.72);
    selected-color: #fff;
}

.lg-obj-inspector-title {
    spacing: 4px;
}

.lg-obj-inspector-button {
    font-weight: bold;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 4px;
    border-radius: 5px;
    transition-duration: 100;
}

.lg-obj-inspector-button:hover {
    border: 1px solid #ccc;
}

.lg-dialog .shell-link {
    color: #eee;
}

.lg-dialog .shell-link:hover {
    color: #fff;
}

#LookingGlassDialog StBoxLayout#EvalBox {
    padding: 4px;
    spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea {
    spacing: 4px;
}

#lookingGlassExtensions {
    padding: 4px;
}

.lg-extension-list {
    padding: 4px;
    spacing: 6px;
}

.lg-extension {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 4px;
}

.lg-extension-name {
    font-weight: bold;
}

.lg-extension-meta {
    spacing: 6px;
}

#LookingGlassPropertyInspector {
    background: rgba(0,0,0,0.9);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    padding: 6px;
}

/* Calendar popup */

#calendarEventsArea {
    /* this is the width of the second column of the popup */
    min-width: 300px;
}

.calendar-vertical-separator {
    -stipple-width: 1px;
    -stipple-color: rgba(168,168,168,1.0);
    width: 0.3em;
}

#calendarPopup {
}

#calendarPopup .calendar {
    padding: 10px;
}

.calendar {
    padding: .4em 1.75em;
    spacing-rows: 0;
    spacing-columns: 0;
}

.calendar-month-label {
    font-size: 7.5pt;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-left.svg");
}

.calendar-change-month-back:rtl {
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("calendar-arrow-right.svg");
}

.calendar-change-month-forward:rtl {
    background-image: url("calendar-arrow-left.svg");
}

.datemenu-date-label {
    padding: .4em 1.75em;
    font-weight: bold;
}

.calendar-day-base {
    background-color: transparent;
    font-size: 7.5pt;
    text-align: center;
    width: 2.4em;
    height: 2.4em;
    transition-duration: 100;
}

.calendar-day-base:hover {
    color: #fff;
    background-color: rgba(104,205,99,1.0);
}

.calendar-day-base:active {
    color: #fff;
    background-color: rgba(104,205,99,0.9);
    box-shadow: inset 0 1px 0 0 rgba(104,205,99,1.0);
}

.calendar-day-heading {
    color: rgba(126,171,177,1.0);
    font-weight: bold;
    padding-top: 1em;
}

.calendar-week-number {
    font-weight: bold;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border: 1px solid rgba(168,168,168,1.0);
    border-top-width: 0;
    border-left-width: 0;
}
.calendar-day-top {
    border-top-width: 1px;
}
.calendar-day-left {
    border-left-width: 1px;
}

.calendar-work-day {
}

.calendar-nonwork-day {
    background-color: rgba(128,128,128,0.1);
}

.calendar-today {
    font-weight: bold;
}

.calendar-today:hover {
    color: #fff;
    background-color: rgba(104,205,99,1.0);
}

.calendar-other-month-day {
    color: #666;
}

.calendar-day-with-events {
    font-weight: bold;
    box-shadow: inset 0 1px 0 0 rgba(255,0,150,1.0);
}

.events-header-vbox {
    spacing: 6pt;
    padding-right: 1.75em;
}

.events-header-vbox:rtl {
    padding-right: 0em;
    padding-left: 1.75em;
}

.events-header-hbox {
    padding: 0.3em;
}

.events-day-header {
    color: rgba(126,171,177,1.0);
    font-weight: bold;
    padding-left: 1.9em;
    padding-top: 0.9em;
}

.events-day-header:rtl {
    padding-left: 0em;
    padding-right: 0.3em;
}

.events-day-dayname {
    color: rgba(153,153,153,1.0);
    text-align: left;
}

.events-day-dayname:rtl {
    text-align: right;
}

.events-day-time {
    text-align: right;
}

.events-day-time:rtl {
    text-align: left;
}

.events-day-task {
    color: rgba(153,153,153,1.0);
}

.events-day-name-box {
    min-width: 15pt;
}

.events-time-box {
    min-width: 53pt;
    padding-right: 6pt;
}

.events-time-box:rtl {
    padding-right: 0;
    padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter {
    link-color: rgba(126,171,177,1.0);
}

/* Message Tray */
#message-tray {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.3);
    background-gradient-end: rgba(255,255,255,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    font-weight: bold;
    height: 2.1em;
}

#notification {
    color: #333;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    padding: 7px;
    spacing-rows: 10px;
    spacing-columns: 10px;
    width: 34em;
}

#notification.multi-line-notification {
    padding-bottom: 8px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
    taken into account during allocation, so its height ends up being limited by the height
    of the content in the other rows. To avoid showing a stretched image, we set the minimum
    height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 180px;
}

.summary-boxpointer {
    -boxpointer-gap: 5px;
    color: #333;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    border-radius: 5px;
}

.summary-boxpointer #notification {
    background-gradient-start: transparent !important;
    background-gradient-end: transparent !important;
    border-width: 0;
    box-shadow: none;
    border-radius: 5px;
    padding-bottom: 12px;
}

.summary-boxpointer #summary-right-click-menu {
    padding-top: 12px;
    padding-bottom: 12px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 8px;
}

#notification-scrollview {
    max-height: 10em;
    -st-vfade-offset: 5px;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 4px;
}

#notification-actions {
    spacing: 10px;
}

.notification-button {
    padding: 4px 42px 5px;
}

.notification-button:focus {
}

.notification-icon-button {
    padding: 4px;
}

.notification-icon-button:focus {
}

.notification-icon-button > StIcon {
    icon-size: 16px;
}

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 72px 2px 12px;
}

.hotplug-notification-item {
    padding: 2px 10px;
    border-radius: 5px;
}

.hotplug-notification-item:focus {
    padding: 1px 71px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 24px;
    padding: 2px 5px;
}

.hotplug-resident-box {
    spacing: 8px;
}

.hotplug-resident-mount {
    font-weight: bold;
    spacing: 8px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.hotplug-resident-mount:hover {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,0.9);
    background-gradient-end: rgba(104,205,99,0.9);
    border: 1px solid rgba(104,205,99,0.1);
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 6px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 6px;
}

.hotplug-resident-eject-icon {
    icon-size: 16px;
}

.hotplug-resident-eject-button {
    padding: 7px;
}

.chat-log-message {
    color: #888888;
}

.chat-group-sent,
.chat-group-meta {
    padding: 8px 0;
}

.chat-received {
    padding-left: 4px;
}

.chat-received:rtl {
    padding-left: 0;
    padding-right: 4px;
}

.chat-sent {
    padding-left: 18pt;
    color: #666;
}

.chat-sent:rtl {
    padding-left: 0;
    padding-right: 18pt;
}

.chat-meta-message {
    padding-left: 4px;
    color: #999;
}

.chat-meta-message:rtl {
    padding-left: 0;
    padding-right: 4px;
}

.subscription-message {
    font-style: italic;
}

#notification StEntry {
    color: #333;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,1.0);
    background-gradient-end: rgba(255,255,255,1.0);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.1);
    border: 1px solid rgba(168,168,168,1.0);
    border-radius: 3px;
    padding: 5px;
    selected-color: #fff;
    selection-background-color: rgba(0,0,0,0.6);
    caret-color: rgb(128,128,128);
    caret-size: 1px;
}

#notification StEntry:focus {
}

/* The spacing and padding on the summary is tricky; we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
    padding: 0;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,1.0);
    background-gradient-end: rgba(255,255,255,0.9);
    border: 1px solid rgba(255,255,255,0.1);
    border-right: 0;
    border-bottom: 0;
}

.summary-source-button {
    color: #333;
}

.summary-source-button:ltr {
    padding-right: 12px;
}

.summary-source-button:selected .summary-source {
    color: #333;
}

.summary-source-button:expanded:selected .summary-source {
    color: #333;
}

.summary-source-button:expanded:selected {
    color: #333;
}

.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;
}

.summary-source-counter {
    color: #fff;
    font-weight: bold;
    background-color: rgba(255,0,150,1.0);
    border: 2px solid #fff;
    border-radius: 1.2em;
    min-height: 1.2em;
    min-width: 1.2em;
}

.source-title {
    padding-left: 4px;
}

.source-title:rtl {
    padding-left: 0;
    padding-right: 4px;
}

/* App Switcher */
#altTabPopup {
    padding: 8px;
    spacing: 16px;
}

.switcher-list {
    color: #333;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    padding: 20px;
}

.switcher-list-item-container {
    spacing: 8px;
}

.thumbnail-scroll-gradient-left {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(54,155,49,0.9);
    background-gradient-end: rgba(104,205,99,0.9);
    border: 1px solid rgba(104,205,99,0.1);
    border-radius: 24px;
    border-radius-topright: 0;
    border-radius-bottomright: 0;
    width: 60px;
}

.thumbnail-scroll-gradient-right {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(54,155,49,0.9);
    background-gradient-end: rgba(104,205,99,0.9);
    border: 1px solid rgba(104,205,99,0.1);
    border-radius: 24px;
    border-radius-topleft: 0;
    border-radius-bottomleft: 0;
    width: 60px;
}

.switcher-list .item-box {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.switcher-list .item-box:outlined {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,0.9);
    background-gradient-end: rgba(104,205,99,0.9);
}

.switcher-list .item-box:selected {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,1.0);
    background-gradient-end: rgba(104,205,99,1.0);
}

.switcher-list .thumbnail-box {
    padding: 2px;
    spacing: 4px;
}

.switcher-list .thumbnail {
    width: 256px;
}

.switcher-list .separator {
    width: 1px;
    background-color: transparent;
}

.ripple-box {
    width: 52px;
    height: 52px;
    background-image: url("corner-ripple-ltr.png");
}

.ripple-box:rtl {
    background-image: url("corner-ripple-rtl.png");
}

.switcher-arrow {
    border-color: transparent;
    color: #888;
}

.switcher-arrow:highlighted {
    border-color: transparent;
}

/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    padding: 20px;
}

.workspace-switcher {
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    spacing: 8px;
}

.ws-switcher-active-up {
    height: 100px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,1.0);
    background-gradient-end: rgba(104,205,99,1.0);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
}

.ws-switcher-active-down {
    height: 100px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(54,155,49,1.0);
    background-gradient-end: rgba(104,205,99,1.0);
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px;
}

.ws-switcher-box {
    height: 96px;
    border: 1px solid rgba(255,255,255,0.3);
    background: transparent;
    border-radius: 5px;
}

/* Modal Dialogs */

/* Dialog Subject Text Style */
.show-processes-dialog-subject,
.mount-question-dialog-subject,
.end-session-dialog-subject {
    font-size: 12pt;
    font-weight: bold;
    color: rgba(126,171,177,1.0);
}

.modal-dialog {
    color: #333;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,1.0);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    padding-right: 42px;
    padding-left: 42px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.modal-dialog-button-box {
    spacing: 21px;
    padding-top: 50px;
}

.modal-dialog-button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 4px 32px 5px;
}

.modal-dialog-button:disabled {
    color: rgb(60,60,60);
}

.modal-dialog-button:focus {
}

/* Run Dialog */

.run-dialog-error-box {
    padding-top: 15px;
    spacing: 4px;
}

.run-dialog-entry {
    color: #333;
    font-weight: bold;
    background-color: transparent;
    font-weight: bold;
    selected-color: #fff;
    selection-background-color: rgba(0,0,0,0.6);
    caret-color: rgb(128,128,128);
    caret-size: 1px;
    width: 23em;
}

.run-dialog {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    padding-right: 21px;
    padding-left: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.lightbox {
    background-color: rgba(0,0,0,0.6);
}

.flashspot {
    background-color: #fff;
}

/* End Session Dialog */
.end-session-dialog {
    spacing: 42px;
}

.end-session-dialog-subject {
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 30px;
}

.end-session-dialog-subject:rtl {
    padding-left: 0;
    padding-right: 17px;
}

.end-session-dialog-description {
    color: #333;
    font-size: 10pt;
    padding-left: 17px;
    width: 28em;
}

.end-session-dialog-description:rtl {
    padding-right: 17px;
}

.end-session-dialog-logout-icon {
    color: #666;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 32px;
    height: 32px;
}

.end-session-dialog-shutdown-icon {
    width: 32px;
    height: 32px;
}

.end-session-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 42px;
    padding-left: 49px;
    padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.end-session-dialog-app-list-item {
    color: rgba(126,171,177,1.0);
    transition-duration: 100;
}

.end-session-dialog-app-list-item:hover {
    color: rgba(126,171,177,1.0);
}

.end-session-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
    font-size: 10pt;
    font-weight: bold;
}

.end-session-dialog-app-list-item-description {
    font-size: 8pt;
    color: #666;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
    icon-size: 48px;
}

.mount-password-reask {
    color: rgba(255,0,150,1.0);
}

.show-processes-dialog,
.mount-question-dialog {
    spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
    padding-top: 10px;
    padding-left: 17px;
    padding-bottom: 6px;
}

.mount-question-dialog-subject {
    max-width: 450px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
    padding-left: 0;
    padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
    padding-left: 17px;
    width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
    padding-right: 17px;
}

.show-processes-dialog-app-list {
    font-size: 10pt;
    max-height: 200px;
    padding-top: 24px;
    padding-left: 49px;
    padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
    padding-right: 49px;
    padding-left: 32px;
}

.show-processes-dialog-app-list-item {
    color: rgba(126,171,177,1.0);
    transition-duration: 100;
}

.show-processes-dialog-app-list-item:hover {
    color: rgba(126,171,177,1.0);
}

.show-processes-dialog-app-list-item:ltr {
    padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
    padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
    padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
    padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
    font-size: 10pt;
}

/* Password or Authentication Dialog */
.prompt-dialog {
    /* this is the width of the entire modal popup */
    width: 500px;
}

.prompt-dialog-main-layout {
    spacing: 24px;
    padding: 10px;
}

.prompt-dialog-message-layout {
    spacing: 16px;
}

.prompt-dialog-headline {
    font-size: 12pt;
    font-weight: bold;
    color: rgba(126,171,177,1.0);
}

.prompt-dialog-password-label:ltr {
    padding-right: 0.5em;
}

.prompt-dialog-password-label:rtl {
    padding-left: 0.5em;
}

.prompt-dialog-password-entry {
    color: #333;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,1.0);
    background-gradient-end: rgba(255,255,255,1.0);
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.1);
    border: 1px solid rgba(168,168,168,1.0);
    border-radius: 3px;
    padding: 5px;
    selected-color: #fff;
    selection-background-color: rgba(0,0,0,0.6);
    caret-color: rgb(128,128,128);
    caret-size: 1px;
    height: 16px;
}

.prompt-dialog-password-entry:focus {
}

.prompt-dialog-password-entry .capslock-warning {
    icon-size: 16px;
    warning-color: rgb(166,38,38);
    padding: 0 3px;
}

.prompt-dialog-error-label {
    font-size: 10pt;
    color: rgba(255,0,150,1.0);
    padding-bottom: 8px;
}

.prompt-dialog-info-label {
    font-size: 10pt;
    padding-bottom: 8px;
}

/* intentionally left transparent to avoid dialog changing size */
.prompt-dialog-null-label {
    font-size: 10pt;
    color: transparent;
    padding-bottom: 8px;
}

/* Polkit Dialog */

.polkit-dialog-user-layout {
    padding-left: 10px;
    spacing: 10px;
}

.polkit-dialog-user-layout:rtl {
    padding-left: 0;
    padding-right: 10px;
}

.polkit-dialog-user-root-label {
    color: #f00;
}

/* Network Agent Dialog */

.network-dialog-secret-table {
    spacing-rows: 15px;
}

/* Magnifier */

.magnifier-zoom-region {
    border: 2px solid rgba(128,0,0,255);
}

.magnifier-zoom-region.full-screen {
    border-width: 0;
}

/* On-screen Keyboard */

#keyboard {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 15px;
}

.keyboard-key {
    color: #333;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,1.0);
    background-gradient-end: rgba(233,233,233,1.0);
    border: 1px solid rgba(168,168,168,1.0);
    border-radius: 3px;
    min-height: 30px;
    min-width: 30px;
    font-weight: bold;
    font-size: 16px;
    transition-duration: 100;
}

.keyboard-key:grayed {
    color: #666;
    border: 1px solid rgba(0,0,0,0.1);
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-gradient-start: rgba(255,255,255,1.0);
    background-gradient-end: rgba(233,233,233,1.0);
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}

.keyboard-key:active {
    background-gradient-start: rgba(233,233,233,1.0);
    background-gradient-end: rgba(255,255,255,1.0);
    border: 1px solid rgba(168,168,168,1.0);
}

.keyboard-subkeys {
    -boxpointer-gap: 20px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(184,239,236,0.9);
    background-gradient-end: rgba(255,255,255,0.9);
    box-shadow: 0 0 7px 5px rgba(0,0,0,0.3);
    border: 5px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    padding: 5px;
}
